# Exclude all files
*

# Standalone files
!.bashrc
!.bash_profile
!.gitignore
!.gitconfig
!.Xresources
!.drirc
!.gtkrc-2.0
!wallpaper.jpg
!oc.ccpro
!README.md

# All files in these folders
!.themes
!.themes/**

!.icons
!.icons/**

!.my-scripts
!.my-scripts/**
.my-scripts/linux-tkg
.my-scripts/init/entries/tmp

# .CONFIG
!.config

!.config/swappy
!.config/swappy/**

!.config/psd/
!.config/psd/psd.conf

!.config/electron17-flags.conf
!.config/electron-flags.conf

!.config/micro
!.config/micro/**
.config/micro/buffers
.config/micro/backups

!.config/gtk-*
!.config/gtk-*/**
.config/gtk-*/bookmarks

!.config/Code - OSS
!.config/Code - OSS/User
!.config/Code - OSS/User/settings.json
!.config/Code - OSS/User/snippets
!.config/Code - OSS/User/snippets/**

!.config/sway
!.config/sway/**

!.config/wofi
!.config/wofi/**

!.config/waybar
!.config/waybar/**

!.config/fish
!.config/fish/config.fish
!.config/fish/fish_variables

!.config/mako
!.config/mako/**

!.config/kitty
!.config/kitty/**

!.config/gamemode.ini
!.config/mimeapps.list

# .LOCAL
!.local/
!.local/share

!.local/share/icons
!.local/share/icons/**
.local/share/icons/hicolor

!.local/share/nemo
!.local/share/nemo/**

!.local/share/rofi
!.local/share/rofi/**