*
!README.md
!.hidden
!.gitignore

!.bashrc
!.bash_profile

!.icons
!.icons/**

!.themes
!.themes/**

!Wallpapers
!Wallpapers/**

!.dotfiles
!.dotfiles/**

.dotfiles/init/system/usr/local/bin/local_pkgs/**
!.dotfiles/init/system/usr/local/bin/local_pkgs/main.sh
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/PKGBUILD
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/version.sh
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/*.install
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/*.SRCINFO
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/LICENSE
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/*.png
!.dotfiles/init/system/usr/local/bin/local_pkgs/pkgs/*/*.desktop

!Games/
!Games/.gitkeep

# .CONFIG
!.config
!.config/fastfetch/
!.config/fastfetch/config.jsonc

!.config/firejail
!.config/firejail/**

!.config/wireplumber
!.config/wireplumber/**

!.config/MangoHud/
!.config/MangoHud/MangoHud.conf

!.config/fish/
!.config/fish/config.fish
!.config/fish/functions/
!.config/fish/functions/git.fish


!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/*.d/
!.config/systemd/user/*.d/*
!.config/systemd/user.conf

!.config/gtk-*
!.config/gtk-*/**
.config/gtk-*/bookmarks

!.config/mpv/
!.config/mpv/mpv.conf

!.config/hypr/
!.config/hypr/hyprland.lua
!.config/hypr/hyprlock.conf
!.config/hypr/hypridle.conf
!.config/hypr/layout.sh
!.config/hypr/split_floating.sh

!.config/swappy
!.config/swappy/**

!.config/micro
!.config/micro/**
.config/micro/buffers
.config/micro/backups

!.config/zed
!.config/zed/keymap.json
!.config/zed/settings.json
!.config/zed/snippets
!.config/zed/snippets/*

!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/snippets
!.config/Code/User/snippets/**

!.config/Code - OSS
!.config/Code - OSS/User
!.config/Code - OSS/User/settings.json
!.config/Code - OSS/User/snippets
!.config/Code - OSS/User/snippets/**

!.config/btop
!.config/btop/btop.conf

!.config/rofi
!.config/rofi/**

!.config/waybar
!.config/waybar/**

!.config/mako
!.config/mako/**

!.config/alacritty/
!.config/alacritty/alacritty.toml

!.config/mimeapps.list

# .LOCAL
!.local/
!.local/share
!.local/bin

!.local/bin/virt-manager
!.local/bin/ffxi_backup

!.local/share/mime
!.local/share/mime/application
!.local/share/mime/application/*
!.local/share/mime/packages
!.local/share/mime/packages/*

!.local/share/dbus-1
!.local/share/dbus-1/**

!.local/share/modorganizer
!.local/share/modorganizer/**

!.local/share/qBittorrent
!.local/share/qBittorrent/nova3
!.local/share/qBittorrent/nova3/engines
!.local/share/qBittorrent/nova3/engines/*.py
.local/share/qBittorrent/nova3/engines/__init__.py


# Related to each other (Sandboxing) 
!.local/bin/firefox
!.local/share/applications/firefox.desktop
!.local/share/bwrap/
!.local/share/bwrap/**

!.local/share/nemo
!.local/share/nemo/actions
!.local/share/nemo/actions/*
!.local/bin/nemo-terminal-run

# mo2 nxm links
!.local/share/modorganizer/nxmhandler-launch.sh 
!.local/share/applications/modorganizer-launcher.desktop

!.local/share/applications
!.local/share/applications/cups.desktop
!.local/share/applications/nemo.desktop
!.local/share/applications/hyprpicker.desktop
!.local/share/applications/nm-import-ovpn.desktop
!.local/share/applications/discord.desktop
!.local/share/applications/network-menu.desktop
!.local/share/applications/micro.desktop
!.local/share/applications/qv4l2.desktop
!.local/share/applications/lstopo.desktop
!.local/share/applications/qvidcap.desktop
!.local/share/applications/rofi*.desktop
!.local/share/applications/steam.desktop
!.local/share/applications/discord.desktop
!.local/share/applications/org.gnome.FileRoller.desktop
!.local/share/applications/avahi-discover.desktop
!.local/share/applications/yad-settings.desktop
!.local/share/applications/bssh.desktop
!.local/share/applications/bvnc.desktop
!.local/share/applications/electron*.desktop
!.local/share/applications/fish.desktop
!.local/share/applications/xgps.desktop
!.local/share/applications/xgpsspeed.desktop

# For nemo
!.local/bin/appimage-handler.sh
!.local/share/applications/appimage-handler.desktop
