[user]
	name = HenrikDK2
	email = henrik265@outlook.dk
[safe]
	directory = /home/henrik/auto/linux-tkg
	directory = /home/henrik/auto/linux-tkg
	directory = /home/henrik/auto
	directory = /home/henrik/auto/linux-tkg
	directory = /home/henrik/auto/linux-tkg
	directory = *
