# Indentation
indent_columns                  = 4
indent_with_tabs                = 0

indent_ignore_first_continue    = false
indent_continue                 = 0
indent_param                    = 0
indent_paren_close              = 2

indent_func_def_param           = true
indent_func_def_param_paren_pos_threshold = 0
indent_func_proto_param         = false

donot_indent_func_def_close_paren = true

# Pointer spacing
sp_before_ptr_star              = remove
sp_after_ptr_star               = remove


# Function definitions
nl_func_def_paren               = ignore
nl_func_def_paren_empty         = ignore

nl_func_def_start               = force
nl_func_def_start_single        = remove
nl_func_def_start_multi_line    = false

nl_func_def_args                = force
nl_func_def_args_multi_line     = false

nl_func_def_end                 = force
nl_func_def_end_single          = remove
nl_func_def_end_multi_line      = false

nl_func_def_empty               = ignore


# Function parameters
align_func_params               = false
align_func_params_span          = 0


# Function braces
nl_fdef_brace                   = ignore

nl_func_leave_one_liners        = false
nl_create_func_def_one_liner    = false
