[Desktop Entry]
Actions=ComposeMessage;OpenAddressBook;
Categories=Network;Email;
Comment[da_DK]=Send og modtag mails med Thunderbird
Comment=Send and receive mail with Thunderbird
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=thunderbird --file-forwarding org.mozilla.Thunderbird @@u %u @@
GenericName[da_DK]=Mailklient
GenericName=Mail Client
Icon=org.mozilla.Thunderbird
MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/vcard;text/x-vcard;x-scheme-handler/webcal;x-scheme-handler/webcals;x-scheme-handler/mid;
Name=Thunderbird
StartupNotify=true
StartupWMClass=thunderbird-esr
Terminal=false
Type=Application
X-Flatpak=org.mozilla.Thunderbird

[Desktop Action ComposeMessage]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=thunderbird org.mozilla.Thunderbird -compose
Name[da_DK]=Skriv ny meddelelse
Name=Write New Message

[Desktop Action OpenAddressBook]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=thunderbird org.mozilla.Thunderbird -addressbook
Name[da_DK]=Åbn adressebogen
Name=Open the Address Book
