[Unit]
Description=Amd overclock

[Service]
Type=simple
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
ExecStart=/usr/bin/nice -n 19 /usr/local/bin/amd-overclock.sh

[Install]
WantedBy=multi-user.target
