[Unit]
Description=Clear ClamAV Logs on Boot
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "" > /var/log/clamav/clamd.log'
ExecStart=/bin/sh -c 'echo "" > /var/log/clamav/freshclam.log'
ExecStart=/bin/sh -c 'echo "" > /var/log/clamav/clamonacc.log'

[Install]
WantedBy=multi-user.target
