[Unit]
Description=Get the ultimate unified hosts file
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=604800
ExecStart=/usr/bin/nice -n 19 /usr/local/bin/denyhosts.sh
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle

[Install]
WantedBy=multi-user.target
