[Unit]
Description=GameBoost - Automatically switches to performance mode when a game is detected

[Service]
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle
ExecStart=/usr/bin/nice -n 19 /usr/local/bin/gameboost/main.sh
ExecStopPost=/usr/bin/nice -n 19 /usr/local/bin/gameboost/exit.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
