[Unit]
Description=Sort mirrors by fastest
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/nice -n 19 /usr/local/bin/mirrors.sh
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUSchedulingPolicy=idle

[Install]
WantedBy=multi-user.target
