[Unit]
Description=Run mirrors.service weekly
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=15min
OnUnitActiveSec=1w

[Install]
WantedBy=timers.target
