[Unit]
Description=Automatic System Update Service
Wants=network-online.target
After=network-online.target
Conflicts=reboot.target shutdown.target suspend.target hibernate.target soft-reboot.target
Before=reboot.target shutdown.target suspend.target hibernate.target soft-reboot.target

[Service]
Type=oneshot

ExecStart=/bin/bash -c '/bin/systemd-inhibit --what=shutdown:sleep:idle:handle-power-key:handle-suspend-key:handle-hibernate-key:handle-lid-switch --who="Update Service" --why="System update in progress" --mode=block /bin/sleep infinity & echo $! > /var/run/update-inhibit.pid'
ExecStart=/usr/local/bin/auto-update.sh
ExecStartPost=/bin/bash -c 'kill $(cat /var/run/update-inhibit.pid) && rm /var/run/update-inhibit.pid'
SuccessExitStatus=0 1

# Low priority
Nice=19
CPUQuota=10%
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
