[Unit]
Description=Apply system tuning
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/system-tuning.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
