[Unit]
Description=Apply system tuning
DefaultDependencies=no
Before=multi-user.target
After=basic.target  # Ensure the system has reached a basic state (aka. devices up and running)

[Service]
Type=oneshot
ExecStart=/usr/local/bin/system-tuning.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
