[Unit]
Description=Get the ultimate unified hosts file
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=21600
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/denyhosts.sh

[Install]
WantedBy=multi-user.target