[Desktop Entry]
Name=Alacritty
Comment=Alacritty Terminal Emulator
Exec=alacritty -e bash -c "bash %f; exec bash"
Icon=alacritty
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
MimeType=application/x-shellscript;
