[Desktop Entry]
Name=Proton EasyAntiCheat Runtime
Comment=Play this game on Steam
Exec=steam steam://rungameid/1826330
Icon=steam
Terminal=false
Type=Application
Categories=Game;
Hidden=true
NoDisplay=true